body {
	margin: 1%;
	padding: 1%;
	font-size: 150%;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
	font-size: 2em;
	font-weight: bold;
}


.active {
	background: white;
	text-transform: uppercase;
	text-align: center;
}

.main-point {
	font-weight: bold;
}

img {
	height: 300px;
	width: auto;
	padding: 25px;
	border-radius: 50px;
	margin: 10px;
}

h2 {
	font-size: 1em;
	font-weight: bold;
}

p, h1, h2 {
	padding: 10px;
}



nav li {
	background-color: #4dff74;
	padding: 10px;
	width: 25%;
	border: 1px solid black;
	border-radius: 50px;
	text-align: center;
	display: inline-block;
	width: 20%;
}



